@model WarbandOfTheSpiritborn.Models.Blog

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    
    <h4>Edit Post</h4>

    <div class="container">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BlogName" class="control-label">Post Title</label>
                <input asp-for="BlogName" class="form-control" />
                <span asp-validation-for="BlogName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogPost" class="control-label">Blog Post</label>
                <textarea asp-for="BlogPost" class="form-control"  rows="10"></textarea>
                <span asp-validation-for="BlogPost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlogAuthor" class="control-label">Post Author</label>
                <input asp-for="BlogAuthor" class="form-control"/>
                <span asp-validation-for="BlogAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-dark mt-1" />
            </div>
        </form>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
