@model WarbandOfTheSpiritborn.Models.Events

@{
    ViewData["Title"] = "Create";
}

    <div class="container">
        <h1>Create an event</h1>
        <hr />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="EventName" class="control-label">Event Name</label>
                        <input asp-for="EventName" class="form-control" />
                        <span asp-validation-for="EventName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EventInfo" class="control-label">Event Info</label>
                        <input asp-for="EventInfo" class="form-control" />
                        <span asp-validation-for="EventInfo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                    <label asp-for="Time" class="control-label">Event Time</label>
                        <input asp-for="Time" class="form-control" />
                        <span asp-validation-for="Time" class="text-danger"></span>
                    </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Event Date</label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Time" class="text-danger"></span>
                </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary btn-dark" />
                        <a asp-action="Index">Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

 

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
