@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark auth-nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Manage/Index"
                   title="Manage account">
                <i class="bi bi-person-circle"></i>
                <span>Account</span>
            </a>
        </li>
        <li class="nav-item">
            <form class="auth-nav-form"
                  asp-area="Identity"
                  asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark auth-nav-link auth-nav-button">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Logout</span>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark auth-nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Register">
                <i class="bi bi-person-plus-fill"></i>
                <span>Register</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark auth-nav-link"
                   asp-area="Identity"
                   asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-left"></i>
                <span>Login</span>
            </a>
        </li>
    }
</ul>