@model IEnumerable<WarbandOfTheSpiritborn.Models.Gallery>

@{
    ViewData["Title"] = "Index";
}

<div class="gallery-container m-5 p-5">
    <h1>Gallery</h1>

    <p>
        <a asp-action="Create">Upload a picture</a>
    </p>
    <div class="create-conatainer">
        @foreach (var gallery in Model)
        {
            <img src="~/pictures/@gallery.Picture" class="img-fluid" asp-append-version="true" alt="Image" width="300" height="300" />
            <a asp-action="Delete" asp-route-id="@gallery.Id">Delete</a>
        }
    </div>
</div>