@model IEnumerable<WarbandOfTheSpiritborn.Models.Gallery>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Gallery</h1>
    <p>
        <a asp-action="Create">Upload a picture</a>
    </p>
</div>
<div class="container">
    
    @foreach (var gallery in Model)
    {
        <div class="gallery-container">
            
            <div class="img-fluid p-2 m-2 align-content-center">

                <img src="~/photos/@gallery.Picture" class="img-fluid img-border" asp-append-version="true" alt="Image" width="800" height="500" />
                <br />
                <a asp-action="Delete" asp-route-id="@gallery.Id">Delete</a>
            </div>
        </div>
    }
</div>
