@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <img class="img-fluid"src="https://fontmeme.com/permalink/211009/d0434b5ee44dfc3cebabc566957c4e4b.png" alt="guild-wars-2-font" border="0">
    <p>Welcome to the official website of our guild.</p>
</div>
