@model WarbandOfTheSpiritborn.Models.About

@{
    ViewData["Title"] = "Create";
}

<div class="main-container">

    <div class="container">
        <h1>About Content</h1>
    </div>

    <div class="container-fluid">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AboutTitle" class="control-label pb-2">Title</label>
                <input asp-for="AboutTitle" class="form-control" />
                <span asp-validation-for="AboutTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="menu bg-light">
                    <label asp-for="AboutText" class="control-label">Paragraph</label>
                    <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu">
                        <i class="bi bi-list"></i></button>
                    <div class="collapsing" id="collapseMenu">
                        <ul class="me-auto mb-2 mb-lg-0">
                            <li class="nav-item m-2">
                                <i class="bi bi-type-bold"></i>
                            </li>
                            <li class="nav-item m-2">
                                <i class="bi bi-type-italic"></i>
                            </li>
                            <li class="nav-item m-2">
                                <i class="bi bi-type-underline"></i>
                            </li>
                            <li class="nav-item m-2">
                                <i class="bi bi-list-ul"></i>
                            </li>
                            <li class="nav-item m-2">
                                <i class="bi bi-list-ol"></i>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                        <textarea asp-for="AboutText" class="form-control" rows="10"></textarea>
                        <span asp-validation-for="AboutText" class="text-danger"></span>
                        <div class="form-group mb-3">
                            <input type="submit" value="Create" class="btn btn-primary btn-dark" />
                            <a asp-action="Index">Back</a>
                        </div>
                    </div>
</form>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
