@model IEnumerable<WarbandOfTheSpiritborn.Models.About>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Index";
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                    <i class="bi bi-chevron-right"></i>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="main-container">
    <div class="container-fluid">
        <br />
        <h1>Discover our story</h1>
        <p>
            <a asp-action="Create">Add Content</a>
        </p>
    </div>
    <hr />
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <h2>
                @Html.DisplayFor(modelItem => item.AboutTitle)
            </h2>
            <p>
                @Html.Raw(item.AboutText.Replace(Environment.NewLine, "<br/>"))
            </p>

            <p>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </p>
            <hr />
        }
    </div>
</div>
