@model IEnumerable<WarbandOfTheSpiritborn.Models.About>

@{
    ViewData["Title"] = "Index";
}
<article class="about">
    <h1>Discover our story</h1>
    <p>
        <a asp-action="Create">Add Content</a>
    </p>
    <hr />
    <div class="container-fluid">
        @foreach (var item in Model)
        {
            <h2>
                @Html.DisplayFor(modelItem => item.AboutTitle)
            </h2>
            <p>
                @Html.DisplayFor(modelItem => item.AboutText)
            </p>

            <p>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </p>
            <hr />
        }
    </div>
</article>